@use '../utilities' as *;

.blog-4 {
    .post-card {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 20px 58px rgba(0, 0, 0, 0.09);
        border-bottom: solid #0E59F2;
        border-width: 0px;
        transition: .2s;

        @include breakpoint(md) {
            margin-bottom: 30px;
        }

        .post-thumb {
            position: relative;
            height: 260px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.3s ease-in-out;
                transform: scale(1);
            }
        }

        .post-content-wrap {
            background: #fff;
            padding: 22px 30px;

            @include breakpoint(md) {
                padding: 22px 20px;
            }
        }

        .post-content {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: none;

            .title {
                font-size: 22px;
                font-weight: 600;
                line-height: 1.4;
                text-transform: capitalize;
                margin-bottom: 13px;

                @include breakpoint(md) {
                    font-size: 20px;
                }

                @include breakpoint(sm) {
                    font-size: 18px;
                }

                a {
                    background: linear-gradient(var(--bz-color-theme-primary) 0%, var(--bz-color-theme-primary) 98%);
                    background-size: 0 2px;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    @include transition(all 0.3s ease-in-out);

                    &:hover {
                        color: var(--bz-color-theme-primary);
                        background-size: 100% 2px;
                    }
                }
            }
        }

        .read-more {
            font-size: 16px;
            font-weight: 700;
            text-transform: capitalize;
            color: var(--bz-color-theme-primary);
            @include flex-vertical-center;

            i {
                font-size: 14px;
                margin-left: 5px;
                @include transition(all 0.3s ease-in-out);
            }

            &:hover {
                i {
                    margin-left: 8px;
                }
            }
        }

        &:hover {
            .post-thumb {
                img {
                    transform: scale(1.02);
                }
            }
            border-width: 4px;
        }
    }

    .post-meta {
        @include flex-vertical-center;
        list-style: none;
        flex-wrap: wrap;
        row-gap: 10px;
        margin-bottom: 12px;

        li,
        a {
            font-family: var(--bz-ff-body);
            color: var(--bz-color-text-body);
            font-size: 16px;
            font-weight: 500;
            @include flex-vertical-center;
            column-gap: 8px;

            i {
                font-size: 16px;
                color: var(--bz-color-theme-primary);
            }

            &:not(:last-of-type) {
                margin-right: 20px;
            }

            @include breakpoint(sm) {
                font-size: 12px;
            }
        }

        li {
            a {
                &:hover {
                    color: var(--bz-color-theme-primary);
                }
            }
        }
    }
}