@use '../utilities' as *;

.services-section {
    &.services-4 {
        background: #191F29;
        border-radius: 15px;
        margin: 0 120px;
        margin-bottom: 30px;

        @include breakpoint(xl) {
            margin: 0 50px;
            margin-bottom: 30px;
        }

        @include breakpoint(lg) {
            margin: 0 0px;
            margin-bottom: 30px;
        }

        .services-item-4 {
            background: #fff;
            border-radius: 15px;
            padding: 40px;
            position: relative;
            z-index: 1;
            overflow: hidden;

            @include breakpoint(lg) {
                padding: 29px;
            }

            @include breakpoint(sm) {
                padding: 30px 20px;
            }

            @include breakpoint(md) {
                margin-bottom: 30px;
            }

            &:hover {
                .services-bg-shape {
                    opacity: 1;
                    visibility: visible;
                    top: -50px;
                }
            }

            .services-icon {
                width: 110px;
                height: 110px;
                background: #F0F4FA;
                border-radius: 500px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint(sm) {
                    width: 90px;
                    height: 90px;
                }
            }

            .services-content {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #74787C;
                    line-height: 26px;
                    margin-bottom: 22px;
                    font-family: var(--bz-ff-p);
                }

                .title {
                    font-size: 24px;
                    color: #191F29;
                    font-weight: 600;
                    line-height: 1;
                    margin-top: 36px;
                    margin-bottom: 15px;
                    font-family: var(--bz-ff-heading);

                    @include breakpoint(sm) {
                        font-size: 20px;
                    }
                }
            }
        }

        .services-bg-shape {
            width: 179px;
            height: 179px;
            background: #1E6EE7;
            filter: blur(100px);
            position: absolute;
            top: -100%;
            left: -7px;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
        }
    }
}

.bz-primary-btn.bz-primary-btn-4 {
    background: #F0F4FA;
    color: var(--bz-color-theme-primary);
    text-transform: capitalize;
    font-weight: 600;
    padding: 14.5px 27.3px;

    i {
        font-weight: 600;
    }

    &::before {
        background: var(--bz-color-theme-primary);
    }

    &:hover {
        color: var(--bz-color-common-white);
    }
}


.section-heading-4 {
    .sub-heading {
        margin-bottom: 15px;
        padding: 0;
    }

    .section-title {
        font-size: 44px;


        @include breakpoint(sm) {
            font-size: 32px;

            br {
                display: none;
            }
        }
    }
}